@font-face {
  font-family: 'iconfont';  /* project id 1506693 */
  src: url('//at.alicdn.com/t/font_1506693_jl53k93122k.eot');
  src: url('//at.alicdn.com/t/font_1506693_jl53k93122k.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1506693_jl53k93122k.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1506693_jl53k93122k.woff') format('woff'),
  url('//at.alicdn.com/t/font_1506693_jl53k93122k.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1506693_jl53k93122k.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tool-cabinet_icon:before {
  content: "\e67b";
}
.icon-tui3:before {
  content: "\e675";
}

.icon-songche:before {
  content: "\e645";
}
